elemento {
}

body {
    width: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    margin: 0;
}

.contenido {
    position: absolute;
    left: 200px;
    right: 0;
    top: 0;
    bottom: 0;
}
